* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
    border: 1px solid black;
    padding: 25px;
   background-color: lightblue;
    
}
nav{
  display: flex;
  gap: 20px;
  color: rgb(7, 7, 8);
}
form{
  /* width: 900px; */

 padding: 50px;
  
}
#logout {
  color: white;
  background-color: green;
  width: 100px;
  border-radius: 5px;
}
fieldset{
  display: flex;
  margin-left: 200px;
  gap: 10px;
  border: 1px solid blue;
  padding: 10px;
 
}


#button{
  color: white;
  background-color: green;
  /* justify-content: center; */
  padding: 10px;
  width: 150px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 3px 1px;

  margin-left: 550px;
  

}
#inputbox {
  width: 160px;
  height: 30px;
  border-radius: 5px;
}
.maincontainer{
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}
.row-2 {
  display: flex;
  gap: 40px;
  align-items: center;
}

.checkbox-group {
  display: flex;
  gap: 20px;
}

.Dashboard-maincontainer{
  border: 1px solid rgb(201, 29, 29);
  display: flex;
  gap: 50px;
  height: 100px;
  width: 90%;
  padding: 10px;
margin-top: 100px;
 
}
.box1 {
  border: 1px solid black;
  width: 5px;
}
.box2 {
  border: 1px solid black;
}
.box3 {
  border: 1px solid black;
}
.box4 {
    border: 1px solid black;

}